Package: com.rpetrich.uidevicecrasher
Name: UIDeviceCrasher
Version: 0.2
Architecture: iphoneos-arm
Description: Helps to debug reboot issues
Maintainer: Ryan Petrich <rpetrich@gmail.com>
Author: Ryan Petrich <rpetrich@gmail.com>
Depends: mobilesubstrate, firmware (>= 3.0)
Section: System
dev: rpetrich
